*{
    margin: 0px;
}
header{
    color: wheat;
    width: 100%;
    background-color:rgba(58, 78, 133, 0.986);
    border-bottom: 2px solid white;
    height:150px;
    text-align: center;
    line-height: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#imagen_01{
    float: left;
}
#imagen_02{
    float: left;
}
#parrafo_01{
    background-color::rgba(27, 28, 105, 0.986);
    font-family: 'Poppins', sans-serif;
}
#parrafo_02{
    margin-left: 255px;
    border: solid rgb(14, 13, 13);
    width: 1010px;
    height:550px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size:20px;
    margin-bottom:100px;
    margin-top: 35px;
}
#tabla_01{
    width: 100%;
    background-color:rgba(39, 41, 134, 0.986);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid rgb(41, 40, 40);
}
#fotos img{
    width: 50%;
    height: 20%;
    margin: 42px;
}
#titulo_pag{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 30px;
}
#fotos .titulo_fotos{
    padding: 10px;
    border:2px solid black;
    font-size:22px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
}
nav ul{
    font-family: 'Poppins', sans-serif;
    display: flex;
}
nav ul li{
    margin-bottom: 30px;
    width: 100%;
}
.color{
    font-family: 'Poppins', sans-serif;
    text-decoration-color: none;
    color: blanchedalmond;
}